/* ComodinLayout */
.comodin-parent {
    background-color: #4b5269;
    padding: 10px;
    border-radius: 6px;
    margin: 0 auto;
    width: 300px;
    margin-top: 50px;
    overflow: unset;
    border: none;
}

.comodin-parent::backdrop {
    background-color: rgba(0, 0, 0, 0.684);
}

.logo-comodin {
    background-color: #858585;
    width: 50px;
    /* El hijo es absolute, el padre relativo */
    position: absolute;
    padding-left: 12px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    right: 40%;
    left: 40%;
    top: -30px;
    border-radius: 50%;
}

.close-btn {
    background-color: red;
    color: white;
    padding: 5px 9px 5px 9px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

/* end ComodinLayout */


.icon-comodin {
    background-color: #171929;
    border-radius: 50%;
    border: 1px solid white;
    width: 50px;
    height: 50px;
    color: white;
    transition: border 0.8s;

    &&:hover {
      cursor: pointer;
      border: 1px solid black;
    }
  }