---
interface Props {
  name: string;
  message: string;
}
const { name, message } = Astro.props;

const time = "00:01";
---

<div class="comodin-items">
  <div id="name-call">{name}</div>
  <div id="text-call" title="Mensaje de llamada">{message}</div>
  <div id="time-call" title="Tiempo de llamada">{time}</div>
  <div class="call-close">
    <button title="Finalizar llamada"
      ><img
        src="./phone_close.png"
        width="50"
        height="50"
        alt="Colgar llamada"
      /></button
    >
  </div>
</div>
<style>
  .comodin-items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #name-call {
    color: white;
    margin-top: 30px;
    font-size: 25px;
    text-decoration: underline;
  }

  #text-call {
    color: white;
    text-align: center;
    margin: 20px;
  }

  #time-call {
    font-size: 30px;
    color: white;
  }

  .call-close > button {
    background-color: transparent;
    border: none;
    margin-top: 20px;
  }
</style>
