---

import { ComodinContacto } from "@components/game/comodines/contact/ComodinContact";
import { ComodinPublico } from "@components/game/comodines/public/ComodinPublico";

interface Props {
  showComodin?: boolean;
}
const { showComodin } = Astro.props;
---

<nav>
  <div>
    <a href="/" title="Volver a la página principal inicio"
      ><img src="./home.png" height="40" width="40" alt="Inicio" /></a
    >
    <a href="." title="Salir"
      ><img src="./return.png" height="40" width="40" alt="Inicio" /></a
    >
  </div>
  <!--  <button class="comodin" onclick="comodinPublico(event)">PÚBLICO</button> -->
  {
    showComodin && (
      <div id="comodin-list">
        <ComodinPublico
          logo="./people.png"
          image="./people.png"
          alt="Comodin Publico"
          client:visible
        />

        <ComodinContacto
          logo="./phone_logo.png"
          image="./contact.png"
          alt="Es una persona Keviin"
          client:visible
        />
      </div>
    )
  }

  <!-- 
       <button
          class="icon-comodin"
          id="fifty-com"
          onclick="comodinFifty(event)"
          title="Usar comodín 50%"
        >
          <img src="./fifty.png" height="30" width="30" alt="Comodin 50%" />
        </button>  
  -->
</nav>

<style>
  nav {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
</style>
