---
interface Props {
  showComodin?: boolean;
}
const { showComodin } = Astro.props ;
---

<nav>
  <div>
    <a href="/" title="Volver a la página principal inicio"
      ><img src="./home.png" height="40" width="40" alt="Inicio" /></a
    >
    <a href="." title="Salir"
      ><img src="./return.png" height="40" width="40" alt="Inicio" /></a
    >
  </div>
  <!--  <button class="comodin" onclick="comodinPublico(event)">PÚBLICO</button> -->
  {
    showComodin && (
      <div id="comodin-list">
        <button
          class="icon-comodin"
          id="call-com"
          onclick="showDialog('contact')"
          title="Usar comodin llamada"
        >
          <img
            src="./phone_logo.png"
            height="30"
            width="30"
            alt="Comodin llamada"
          />
        </button>
        <button
          class="icon-comodin"
          id="public-com"
          onclick="showDialog('public')"
          title="Usar comodin público"
        >
          <img src="./people.png" height="30" width="30" alt="Comodi público" />
        </button>
        <button
          class="icon-comodin"
          id="fifty-com"
          onclick="comodinFifty(event)"
          title="Usar comodín 50%"
        >
          <img src="./fifty.png" height="30" width="30" alt="Comodin 50%" />
        </button>
      </div>
    )
  }
</nav>

<style>
  nav {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  .icon-comodin {
    background-color: #171929;
    border-radius: 50%;
    border: 1px solid white;
    width: 50px;
    height: 50px;
    color: white;
    transition: border 0.8s;

    &&:hover {
      cursor: pointer;
      border: 1px solid black;
    }
  }
</style>
