<div class="btn-presentador">
  <button id="btn-next" disabled title="Ir a la siguiente pregunta">
    <img
      id="img-next"
      src="./next.png"
      height="30"
      width="30"
      alt="Siguiente"
    />
  </button>
</div>

<style>
  .btn-presentador {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  .btn-presentador > button {
    background-color: transparent;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    border: 1px solid lightgray;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
</style>
