---
import { aiChatResponse } from "@utils/ai";

const presentation = "Bienvenido a El Desafio";
---

<div id="presentador">
  <div class="img-presentador">
    <!-- mobile version hide this photo and lg do it absolute img-->
    <img
      src="./person.png"
      height="100"
      width="100"
      alt="Es el Presentador"
      aria-hidden="true"
    />
  </div>
  <div id="npcPresentador" class="text-presentador">
    {presentation}
  </div>
</div>

<style>
  #presentador {
    position: relative;
    margin-bottom: 15px;
    background-color: #171929;

    .img-presentador {
      position: absolute;
      left: 2%;
      bottom: 94%;
    }

    .text-presentador {
      border: 1px solid white;
      padding-left: 8px;
      padding-right: 8px;
      padding-top: 16px;
      padding-bottom: 16px;
      color: white;
    }
  }
</style>
