---
import { Game } from "@components/game/Game";
import NextQuestion from "@components/game/NextQuestion.astro";
import Presenter from "@components/game/Presenter.astro";
import Quiz from "@components/game/Quiz.astro";
import Videocamera from "@components/game/videocamera/Videocamera.jsx";
import Navbar from "@components/shared/Navbar.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="El Desafio - Empieza tu partida" language="es">
  <div class="container">
    <Game client:only />
    {
      /* <Navbar class:list="element1" showComodin={true} />
      <Videocamera useCamera={false} class:list="element2" client:only />

      <aside id="presentatorQuestion" class="element3">
        <NextQuestion />
        <Presenter />
        <Quiz />
      </aside>
      */
    }
  </div>

  <style>
    .container {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 5px;
      justify-content: space-between;
    }

    .element1 {
      flex: 0 1 auto;
    }

    .element3 {
      flex: 0 1 auto;
    }

    .element2 {
      flex: 1 1 auto;
    }
  </style>
</Layout>
