---
import { CreativeMode } from "@components/settings/CreativeMode";
import {NavbarComponent} from "@components/shared/navbar/Navbar.jsx";
import Layout from "@layouts/Layout.astro";
---

<Layout title="El Desafio AI - Configurar" language="es">
  <NavbarComponent client:only />
  <main>
    <CreativeMode client:only />
  </main>
  <style>
    main {
      max-width: 800px;
      margin: 0 auto;
      padding: 0px 10px 30px 10px;
    }
  </style>
</Layout>
