---
import { LoginForm } from "./LoginForm";
---

<main id="login">
  <h1>El desafio A.I</h1>

  <LoginForm client:only>
    <a href="./settings" title="Ir a la página de crear de desafios"
      >CREAR DESAFIOS</a
    >
  </LoginForm>
</main>
<style>
  h1 {
    color: white;
    text-align: center;
  }

  #login {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    gap: 10px;

    .select-opt {
      background: transparent;
      border: 1px solid lightgray;
      border-radius: 5px;
      color: white;
      font-size: 18px;
      padding: 8px;
      text-align: center;
      cursor: pointer;
    }

    .select-opt > option {
      background-color: black;
      color: white;
    }

  

    a,
    button {
      background: transparent;

      border: 1px solid white;
      color: white;
      text-decoration: none;
      font-size: 20px;
      padding: 10px 40px 10px 40px;
      border-radius: 6px;
      text-align: center;
      transition: all 0.5s;

      &&:hover {
        background-color: white;
        color: black;
        cursor: pointer;
      }
    }

    .start-btn > button {
      background-color: transparent;
      border-radius: 6px;
      color: white;
      font-size: 20px;
      border: 1px solid lightgray;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
      transition: all 0.5s;
    }

    .start-btn > button:hover {
      background-color: white;
      color: black;
      cursor: pointer;
    }

    .text-input {
      background-color: transparent;
      border-radius: 6px;
      border: 1px solid lightgray;
      padding: 10px;
    }

    .title-input {
      color: white;
    }

    input.text-input {
      color: white;
    }

    .label-settings {
      color: white;

      input,
      label {
        cursor: pointer;
      }
    }
  }
</style>
