.header {
    margin-top: 30px;
}

.header,
.footer,
.main {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    color: white;
}

.header {
    padding-top: 10px;
}

.footer {
    color: yellow;
}

.main {
    height: 200px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
    border: 1px solid white;
}

.bar-parent {
    height: 100%;
    position: relative;
    cursor: pointer;
}

.bar-content {
    background-color: lightblue;
    position: absolute;
    bottom: 0px;
    left: -10px;
    width: 20px;
    transition: height 2s;
    /* no va xd */
}

.survey-btn {
    background-color: transparent;
    width: 100%;
    padding: 6px;
    color: white;
    border: 1px solid white;
    margin-top: 10px;
    background-color: #171929;
    border-radius: 4px;

    transition: border 0.8s;

    &&:hover {
        border: 1px solid #171929;
        cursor: pointer;
    }
}