h2 {
    text-align: center;
}

.btn-login {
    padding: 4px;
    background-color: black;
    color: white;
    border: 1.5px solid white;
    transition: all 1s;
    width: 100px;
}

.btn-login:hover {
    border-radius: 4px;
    border: 1.5px solid black;
    cursor: pointer;
}


.question {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 10px;
}

input[type=text] {
    background-color: black;
    color: white;
    padding: 5px;
    border: 1px solid grey;
}


input[type=submit] {
    cursor: pointer;
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid white;
}


body {
    background-color: #171929;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 10px 30px 10px;
}



.subtitle {
    text-align: center;
}

.option-title {
    margin: 5px 0px 5px 0px;
}

.option-letter {
    display: flex;
    align-items: center;
    gap: 10px;

    input {
        width: 100%;
    }

    label {
        padding-left: 10px;
    }
}

.solution-quiz {
    display: flex;
    gap: 10px;

    padding-bottom: 10px;

    input+label {
        border-radius: 6px;
        border: 1px solid white;
        padding: 5px;
        transition: all 1s;
        cursor: pointer;
    }

    input+label:hover {
        background-color: orangered;
    }

    input:checked+label {
        background-color: green;
    }

    input[type=radio] {
       background-color: transparent;
    }
}